* {
  margin: 0;
  padding: 0;
}

/* Setting fade transition and default settings */
body {
  color: #141613;
  font-family: "Montserrat", sans-serif;
  background-color: #eaf2e5;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  overflow-x: hidden;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.panel.black {
  color: #eaf2e5;
}

/* colours */
.color-black {
  background-color: #141613;
}

.landing-wrapper {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.landing-wrapper header {
  width: 95%;
  margin-left: auto;
}

.landing-wrapper header nav {
  padding: 1rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-wrapper header nav .logo {
  font-family: "Krona One", sans-serif;
  text-decoration: none;
  color: #141613;
}

.landing-wrapper header nav a {
  text-decoration: none;
}

.landing-wrapper header nav button {
  background: white;
  padding: 0.8rem;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-wrapper header nav button .arrow-right {
  margin-left: 5px;
  background-image: url(imgs/arrow-right-thin.svg);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
}

.landing-wrapper .landing-content {
  width: 90%;
  height: 100vh;
  margin: 0 auto 0 auto;
  position: relative;
}

.landing-wrapper .landing-content main {
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-wrapper .landing-content main h1 {
  font-family: "Krona One", sans-serif;
  z-index: 2;
  font-size: 1.3rem;
}

.landing-wrapper .landing-content main h1 span {
  background: white;
  padding: 6px 0 6px 0;
  line-height: 2rem;
}

.landing-wrapper .scroll {
  position: absolute;
  bottom: 0;
  margin-left: 1rem;
}

.landing-wrapper .scroll-indicator {
  text-transform: uppercase;
  font-size: 0.8rem;
  display: block;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 1rem;
}

.landing-wrapper .line {
  width: 1px;
  margin-left: 0.5rem;
  margin-top: 10rem;
  height: 20vh;
  background-color: #141613;
  opacity: 0.2;
}

.landing-wrapper img {
  position: absolute;
  bottom: 0;
  right: -4rem;
  height: 80vh;
}

.portfolio-wrapper {
  width: 90%;
  margin: 15vh auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10vh;
}

.portfolio-item img {
  width: 100%;
  margin-bottom: 0.3rem;
}

.portfolio-item .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-item .text-wrapper .text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0 0.2rem 0;
}

.portfolio-item .text-wrapper .text-row h3 {
  font-family: "Krona One", sans-serif;
}

.portfolio-item .text-wrapper .text-row span {
  text-transform: uppercase;
}

.how-wrapper {
  width: 90%;
  margin: 15vh auto 0 auto;
}

.how-wrapper p {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.7rem;
  margin-top: 5vh;
}

.vid-text {
  position: relative;
  z-index: 50;
  display: inline-block;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.vid-text img {
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.vid-text img.hub {
  -o-object-fit: contain;
     object-fit: contain;
}

.vid-text img.fig {
  -o-object-fit: contain;
     object-fit: contain;
}

.vid-text img.xd {
  -o-object-fit: contain;
     object-fit: contain;
}

.vid-text img.rct {
  -o-object-fit: contain;
     object-fit: contain;
}

.vid-text img.sass {
  -o-object-fit: contain;
     object-fit: contain;
}

.vid-text:nth-of-type(2) {
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.hub {
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.xd {
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.rct {
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.sass {
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.contact-wrapper {
  width: 90%;
  margin: 15vh auto 0 auto;
  padding-top: 15vh;
  text-align: center;
}

.contact-wrapper h4 {
  text-align: center;
  font-family: "Krona One", sans-serif;
}

.contact-wrapper a {
  display: inline-block;
  margin-top: 5vh;
  background-color: #000;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  color: #eaf2e5;
}

@media (min-width: 768px) {
  html {
    font-size: 26px;
  }
  .landing-wrapper header nav {
    padding: 1rem 0 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing-wrapper header nav .logo {
    font-family: "Krona One", sans-serif;
    text-decoration: none;
    color: #141613;
  }
  .landing-wrapper header nav button {
    background: white;
    padding: 0.8rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  .landing-wrapper .landing-content main {
    padding-top: 3vh;
  }
  .landing-wrapper .landing-content main h1 {
    font-size: 1.6rem;
  }
  .landing-wrapper .landing-content main h1 span {
    background: white;
    padding: 12px 0 12px 0;
    line-height: 2.8rem;
  }
  .landing-wrapper .scroll {
    margin-left: 1rem;
  }
  .landing-wrapper .scroll-indicator {
    margin-left: 1.5rem;
  }
  .landing-wrapper .line {
    margin-left: 1rem;
  }
  .landing-wrapper img {
    right: -4rem;
    height: 70vh;
  }
}

@media (min-width: 1024px) {
  .landing-wrapper header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .landing-wrapper header nav .logo {
    font-family: "Krona One", sans-serif;
    text-decoration: none;
    color: #141613;
    font-size: 0.8rem;
  }
  .landing-wrapper .landing-content {
    width: 90%;
    height: 100vh;
    margin: 0 auto 0 auto;
    position: relative;
  }
  .landing-wrapper .landing-content main {
    padding-top: 10vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .landing-wrapper .landing-content main h1 {
    font-size: 1.6rem;
  }
  .landing-wrapper .landing-content main h1 span {
    background: white;
    padding: 16px 0 16px 0;
    line-height: 3rem;
  }
  .landing-wrapper img {
    position: absolute;
    bottom: 0;
    right: 0rem;
    height: 80vh;
  }
  .landing-wrapper .scroll {
    margin-left: 2.5rem;
  }
  .landing-wrapper .scroll-indicator {
    font-size: 0.6rem;
    margin-left: 1rem;
  }
  .landing-wrapper .line {
    width: 1px;
    margin-left: 0.6rem;
    margin-top: 7.5rem;
    height: 10vh;
    background-color: #141613;
    opacity: 0.2;
  }
  .portfolio-wrapper {
    width: 90%;
    margin: 15vh auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio-wrapper .item-wrapper {
    width: 30%;
  }
  .portfolio-wrapper .item-wrapper .text-wrapper h3 {
    font-size: 0.7rem;
  }
  .portfolio-wrapper .item-wrapper .text-wrapper span {
    font-size: 0.5rem;
  }
  .how-wrapper p {
    width: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.7rem;
    margin-top: 5vh;
  }
  .how-wrapper p:nth-of-type(2) {
    margin-left: auto;
  }
}
/*# sourceMappingURL=style.css.map */