$heading: 'Krona One', sans-serif;
$text: 'Montserrat', sans-serif;

$black: #141613;
$white: #eaf2e5;
$blue: #0B0033;


// body::-webkit-scrollbar {
//     width: 5px;
//     background: $black;
// }
// body::-webkit-scrollbar-thumb {
//     background-color: $blue;
// }
// ::selection {
//     color: $white;
//     background: $yellow;
// }


* {
    margin: 0;
    padding: 0;
}

/* Setting fade transition and default settings */
body {
    color: $black;
    font-family: $text;
    background-color: $white;
    transition: background-color 1s ease;
    overflow-x: hidden;
}

/* panel styles */
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &.black {
        color: $white;
    }
}

/* colours */
.color-black {
    background-color: $black;
}

.color-purple {
    background-color: #5935b4;
}
.color-gold {
    background-color: #927a25;
}
.arrow-right {
    margin-left: 5px;
    background-image: url(imgs/arrow-right-thin.svg);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
}


.landing-wrapper {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;

    header {
        width: 95%;
        margin-left: auto;
        nav {
            padding: 1rem 0 1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .logo {
                font-family: $heading;
                text-decoration: none;
                color: $black;
            }
            a {
                text-decoration: none;
            }
            button {
                background: white;
                padding: 0.8rem;
                border: none;
                text-decoration: none;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                color: $black;
            }
        }
    }

    .landing-content {
        width: 90%;
        height: 100vh;
        margin: 0 auto 0 auto;
        position: relative;

       

        main {
            padding-top: 20vh;
            display: flex;
            flex-direction: column;

            h1 {
                font-family: $heading;
                z-index: 2;
                font-size: 1.3rem;
                span {
                    background: white;
                    padding: 6px 0 6px 0;
                    line-height: 2rem;
                }
            }
        }
    }

    .scroll {
        position: absolute;
        bottom: 0;
        margin-left: 1rem;
    }

    .scroll-indicator {
        text-transform: uppercase;
        font-size: 0.8rem;
        display: block;
        transform-origin: 0 0;
        transform: rotate(90deg);
        margin-left: 1rem;
    }

    .line {
        width: 1px;
        margin-left: 0.5rem;
        margin-top: 10rem;
        height: 20vh;
        background-color: $black;
        opacity: 0.2;
    }

    img {
        position: absolute;
        bottom: 0;
        right: -4rem;
        height: 80vh;
    }
}

.portfolio-wrapper {
    width: 90%;
    margin: 15vh auto 0 auto;
    display: flex;
    flex-direction: column;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;

    img {
        width: 100%;
        margin-bottom: 0.3rem;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;

        .text-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2rem 0 0.2rem 0;

            h3 {
                font-family: $heading;
            }

            span {
                text-transform: uppercase;
            }
        }
    }

}

.how-wrapper {
    width: 90%;
    margin: 15vh auto 0 auto;

    p {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2.7rem;
        margin-top: 5vh;
    }
}

.vid-text {
    position: relative;
    z-index: 50;
    display: inline-block;
    padding-left: 0.5vw;
    padding-right: 0.5vw;

    img {
      top: 5%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      position: absolute;
      opacity: 1;
      object-fit: cover;

      &.hub {
        object-fit: contain;
      }

      &.fig {
        object-fit: contain;
      }

      &.xd {
          object-fit: contain;
      }

      &.rct {
        object-fit: contain;
      }

      &.sass {
        object-fit: contain;
    }
    }

    &:nth-of-type(2) {
        color: transparent;
        user-select: none;
        pointer-events: none;
    }
  }
  .hub {
    color: transparent;
    user-select: none;
    pointer-events: none;
}

.xd {
    color: transparent;
    user-select: none;
    pointer-events: none;
}

.rct {
    color: transparent;
    user-select: none;
    pointer-events: none;
}

.sass {
    color: transparent;
    user-select: none;
    pointer-events: none;
}

.contact-wrapper {
    width: 90%;
    margin: 15vh auto 0 auto;
    padding-top: 15vh;
    text-align: center;
    h4 {
        text-align: center;
        font-family: $heading;
    }
    a {
        display: inline-block;
        margin-top: 5vh;
        background-color: #000;
        padding: 0.8rem 1.2rem;
        text-decoration: none;
        color: $white;
    }
}

.sqer-panel {
    position: relative;
    
    .sqer-main {
        width: 90%;
        margin: 10vh auto 0 auto;
        display: block;
        text-align: center;
        color: $white;
        div {
            margin: 0 auto 5vh auto;
            width: 250px;
            height: 250px;
            display: block;
            background-image: url(imgs/sqer.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

.sqer-top-img {
    margin-top: -15vh;
}
.sqer-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        min-width: 250px;
        width: 50vw;
        height: auto;
    }
    div {
        p {
            margin-top: 0.5rem;
            line-height: 1.7rem;
        }
    }
}

.raouf-section {
    width: 90%;
    margin: 0 auto 10vh auto;
    img {
        width: 100%;
        height: auto;
    }
    div {
        margin-top: 1rem;
        width: 90%;
        p {
            margin-top: 0.5rem;
        }
    }
}

@media (min-width: 768px) {
    html {
        font-size: 26px;
    }
    .landing-wrapper {
        header {
            nav {
                padding: 1rem 0 1rem 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                .logo {
                    font-family: $heading;
                    text-decoration: none;
                    color: $black;
                }
        
                button {
                    background: white;
                    padding: 0.8rem;
                    border: none;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }
        .landing-content {
            main {
                padding-top: 3vh;
                h1 {
                    font-size: 1.6rem;
                    span {
                        background: white;
                        padding: 12px 0 12px 0;
                        line-height: 2.8rem;
                    }
                }
            }
        }
        .scroll {
            margin-left: 1rem;
        }
        .scroll-indicator {
            margin-left: 1.5rem;
        }
        .line {
            margin-left: 1rem;
        }
        img {
            right: -4rem;
            height: 70vh;
        }
    }

    .sqer-section {
        width: 90%;
        margin-top: 5vh;
        flex-direction: row;
        align-items: center;
        img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            width: 50vw;
            height: auto;
        }
        div {
            margin-left: 2rem;
            p {
                font-size: 0.8rem;
                line-height: 1.3rem;
            }
        }
    }

    .odd-img {
        order: 2;
    }
    .odd {
        margin-right: 2rem;
        margin-left: 0 !important;
        order: 1;
    }
}

@media (min-width: 1024px) {
    .landing-wrapper {
        header {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            nav {        
                .logo {
                    font-family: $heading;
                    text-decoration: none;
                    color: $black;
                    font-size: 0.8rem;
                }
            }
        }
    
        .landing-content {
            width: 90%;
            height: 100vh;
            margin: 0 auto 0 auto;
            position: relative;
    
            main {
                padding-top: 10vh;
                align-items: flex-start;
    
                h1 {
                    font-size: 1.6rem;
                    span {
                        background: white;
                        padding: 16px 0 16px 0;
                        line-height: 3rem;
                    }
                }
            }
        }
    
    
        img {
            position: absolute;
            bottom: 0;
            right: 0rem;
            height: 80vh;
        }

        .scroll {
            margin-left: 2.5rem;
        }
    
        .scroll-indicator {
            font-size: 0.6rem;
            margin-left: 1rem;
        }
    
        .line {
            width: 1px;
            margin-left: 0.6rem;
            margin-top: 7.5rem;
            height: 10vh;
            background-color: $black;
            opacity: 0.2;
        }
        
    }

    .portfolio-wrapper {
        width: 90%;
        margin: 15vh auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .item-wrapper {
            width: 30%;

            .text-wrapper {
                h3 {
                    font-size: 0.7rem;
                }
                span {
                    font-size: 0.5rem;
                }
            }
        }
    }

    .how-wrapper {
    
        p {
            width: 50%;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 2.7rem;
            margin-top: 5vh;
        }

        p:nth-of-type(2) {
            margin-left: auto;
        }
    }

    .sqer-section {
        width: 60%;
        margin-top: 5vh;
        flex-direction: row;
        img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            width: 50vw;
            height: auto;
        }
        div {
            margin-left: 2rem;
        }
    }

    .raouf-section {
        width: 90%;
        margin: -5vh auto 15vh auto;
        display: flex;
        flex-direction: column;
        img {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        div {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}