@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@font-face {
  font-family: Regatto;
  src: url(fonts/Regattoo.ttf);
}

body::-webkit-scrollbar {
  width: 1px;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 1px solid #000;
}

::-moz-selection {
  color: #000;
  background: #fff;
}

::selection {
  color: #000;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  width: 100%;
  overflow-x: hidden;
}

main {
  margin-top: 5vh;
  width: 90%;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
}

main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main jumbotron {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main jumbotron .left {
  width: 45%;
  margin-right: auto;
}

main jumbotron .left .divider {
  width: 5rem;
  opacity: 0.75;
  height: 1px;
  background-color: #fff;
}

main jumbotron .left p {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  width: 400px;
  line-height: 2rem;
}

main jumbotron .left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
}

main jumbotron .left div .btn {
  border: 1px solid #fff;
  padding: 12px 55px;
  cursor: pointer;
  font-family: "Regatto", sans-serif;
  font-size: 1.25rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

main jumbotron .left div .btn-about {
  margin-right: 2rem;
}

main jumbotron .left div .btn-about:hover {
  -webkit-box-shadow: 0px 15px 80px 5px white;
          box-shadow: 0px 15px 80px 5px white;
}

main jumbotron .left div .btn-portfolio {
  background-color: #fff;
  color: #000;
}

main jumbotron .left div .btn-portfolio:hover {
  -webkit-box-shadow: 0px 15px 80px 5px white;
          box-shadow: 0px 15px 80px 5px white;
}

main jumbotron .right {
  margin-left: auto;
  width: 45%;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

main jumbotron .right:hover {
  opacity: 1;
}

main jumbotron .right img {
  margin-right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .bottom {
  margin-top: 30vh;
  font-family: "Regatto", sans-serif;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.25;
}

portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

portfolio .pf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

portfolio .pf:hover {
  opacity: 1;
}

portfolio .pf .image {
  width: 220px;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

portfolio .pf .image.st {
  background-image: url(imgs/pf/studia.jpeg);
}

portfolio .pf .image.do {
  background-position: center;
  background-image: url(imgs/pf/dobrovol.jpg);
}

portfolio .pf .image.sp {
  background-image: url(imgs/pf/sport.jpeg);
  background-position: 20% 50%;
}

portfolio .pf .image.ce {
  background-image: url(imgs/pf/cestovani.jpeg);
}

portfolio .pf .image.de {
  background-image: url(imgs/pf/design.jpeg);
  background-position: center;
}

portfolio .pf .line {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  width: 1px;
  height: 1rem;
  background-color: #fff;
}

portfolio .pf h3 {
  font-family: "Regatto", sans-serif;
  font-size: 1.25rem;
}
/*# sourceMappingURL=style.css.map */