
@font-face {
    font-family: Regatto;
    src: url(fonts/Regattoo.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

$heading: 'Regatto', sans-serif;
$text: 'Montserrat', sans-serif;
$white: #fff;
$black: #000000;
$text-26: 1.25rem;
body::-webkit-scrollbar {
    width: 1px;
}
body::-webkit-scrollbar-thumb {
    background-color: $white;
    outline: 1px solid $black;
}
::selection {
    color: $black;
    background: $white;
}
button {
    width: 12rem;
    height: 3rem;
    font-size: $text-26;
    font-weight: 900;
    text-transform: uppercase;
    font-family: $text;
    border: 1px solid $white;
    cursor: pointer;
    &.secondary {
        background: $black;
        border-color: $white;
        color: $white;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $black;
    font-family: $text;
    font-weight: 300;
    color: $white;
    width: 100%;
    overflow-x: hidden;
}

main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        font-size: $text-26;
        font-weight: 900;
        text-transform: uppercase;
    }
    .nav {
        width: 90px;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 900;
    }
}

jumbotron {
    margin-top: 10vh;
    display: flex;
        .img-main {
            width: 280px;
            height: 450px;
            background-image: url(imgs/main.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        section {
            margin-top: 10vh;
            margin-left: -7rem;
            h1 {
                font-size: 3rem;
                font-weight: normal;
                width: 700px;
                font-family: $heading;
            }
            .buttons {
                margin-top: 5vh;
                button {
                    margin-right: 1vw;
                }
            }
        }
}

.bottom-fade {
    font-size: $text-26;
    font-weight: 900;
    position: absolute;
    bottom: 5vh;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    .scroll {
        font-size: 0.8rem;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        cursor: pointer;
    }
}

work {
    margin-top: 25vh;
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    h2 {
        font-size: 3rem;
        font-weight: normal;
        width: 700px;
        font-family: $heading;
    }

    .item {
        margin-top: 15vh;
        display: flex;
        align-items: center;
        .preview {
            position: relative;
            min-width: 500px;
            height: 300px;
            border: 1px solid $white;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 3vw;
            &.pelmet {
                background-image: url(imgs/pelmet-cover.png);
            }
            &.cleansie {
                background-image: url(imgs/cleansie-cover.png);

            }
            &.unipay {
                background-image: url(imgs/unipay-cover.png);
            }
            &.sikla {
                background-image: url(imgs/sikla-cover.png);
            }
        }
        .preview::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -2;
            left: -10px;
            top: -10px;
            border: 1px solid $white;
            background: $black;
            width: 500px;
            height: 300px;
        }
        .description {
            span {
                font-size: $text-26;
                font-weight: 900;
                text-transform: uppercase;
            }
            p {
                margin-top: 2vh;
                font-family: $heading;
                font-size: 3rem;
                width: 700px;
            }
            div {
                margin-top: 4vh;
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 300;
            }
            button {
                margin-top: 6vh;
            }
        }
    }
}





/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}
